# Git aliases
alias gs='git status'
alias gp='git push'
alias ga='git add'
alias gaa='git add .'
alias gc='git commit -m'
alias gb="git branch"
alias gco='git checkout'
alias gm='git merge --no-ff'

# Unix aliases
alias please='sudo $(fc -ln -1)'
