# Git aliases
alias gs='git status'
alias gp='git push'
alias ga='git add'
alias gaa='git add .'
alias gc='git commit -m'
alias gb="git branch"
alias gco='git checkout'
alias gm='git merge --no-ff'

# NPM aliases
alias ni='npm install'
alias nis='npm install --save $1'
alias nisd='npm install --save-dev $1'
alias nr='npm run $1'

# Unix aliases
alias please='sudo $(fc -ln -1)'
